.footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft,
.footerRight {
  display: flex;
  align-items: center;
}

.footerLeft {
  gap: 10px;
}

.footerRight {
  gap: 20px;
}

.footerRight a {
  text-decoration: none;
  color: inherit;
}
