.big_title {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}
.contact_container {
  width: 800px;
}

.contact_block_container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100;
}

.contact_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.statement {
  color: #4b5563;
  font-size: 13px;
}

.contact {
  color: #4f46e5;
  font-size: 13px;
}
