.about_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big_title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}

.top_section {
}

.middle_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.middle_section_block {
  text-align: center;
}

.bottom_section {
}

.val {
  color: #4f46e5;
  font-weight: bold;
  font-size: 40px;
}
