.about_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big_title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}

.top_section {
  border: 2px solid red;
}

.middle_section {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  gap: 20;
  flex-direction: row;
  margin: 40px 0;
}

.middle_section_block {
  border: 2px solid green;
  text-align: center;
}

.bottom_section {
  border: 2px solid green;
}

.val {
  color: #4f46e5;
  font-size: 30px;
}
