.confirmation_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big_title {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}

.summary .left_column {
  text-align: right;
  font-weight: bold;
}
