.donation_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big_title {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}

.options {
  margin-top: 20px;
}

.shelters {
  margin-top: 20px;
}

.donation {
  margin-top: 20px;
  margin-bottom: 20px;
}
